<nb-tabset>
    <nb-tab tabTitle="学位信息">
      <div *ngIf="url">
        原始链接：{{url}}
      </div>
        学位名称：<input type="text" nbInput fullWidth placeholder="名称" [(ngModel)]="name">
        <div class="py-3 d-flex">
          <div>
            <div>
              所属国家：
            </div>
            <nb-select class="pr-3" placeholder="所属国家" [(selected)]="country">
                <nb-option value="{{item._id}}" *ngFor="let item of countries">{{item.name}}</nb-option>
            </nb-select>
          </div>
            <div>
              <div>
                所属类别：
              </div>
              <nb-select class="pr-3" placeholder="所属类别" [(selected)]="category">
                <nb-option value="{{item._id}}" *ngFor="let item of categories">{{item.name}}</nb-option>
            </nb-select>
            </div>
            <div>
              <div>
                货币代码：
              </div>
              <input type="text" nbInput fullWidth placeholder="货币代码" [(ngModel)]="currencyCode">
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="薪资数据">
      <div>时薪</div>
      <div class="d-flex pb-3">
        <div class="w-100">
          <div>最小值</div>
          <input type="text" nbInput fullWidth placeholder="最小值" [(ngModel)]="compensation.hourlyRate.min">
        </div>
        <div class="w-100 ml-3">
          <div>最大值</div>
          <input type="text" nbInput fullWidth placeholder="最大值" [(ngModel)]="compensation.hourlyRate.max"> 
        </div>
        <div class="w-100 ml-3">
          <div>平均值</div>            
          <input type="text" nbInput fullWidth placeholder="平均值" [(ngModel)]="compensation.hourlyRate.avg">  
        </div> 
      </div>
      <div>年薪</div>
      <div class="d-flex pb-3">
        <div class="w-100">
          <div>最小值</div>
          <input type="text" nbInput fullWidth placeholder="最小值" [(ngModel)]="compensation.salary.min">
        </div>
        <div class="w-100 ml-3">
          <div>最大值</div>
          <input type="text" nbInput fullWidth placeholder="最大值" [(ngModel)]="compensation.salary.max"> 
        </div>
        <div class="w-100 ml-3">
          <div>平均值</div>            
          <input type="text" nbInput fullWidth placeholder="平均值" [(ngModel)]="compensation.salary.avg">  
        </div> 
      </div>    
    </nb-tab>
    <nb-tab tabTitle="汇总数据">
        <div>工作经验</div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>入门级样本数量({{getExperiencePercentage('entryLevel')}}%)</div>             
            <input type="text" nbInput fullWidth placeholder="入门级数量" [(ngModel)]="byDimension.experience.entryLevel.profileCount">
          </div>
          <div class="w-100 ml-3">
            <div>入门级工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="入门级工资最低值" [(ngModel)]="byDimension.experience.entryLevel.min">  
          </div>
          <div class="w-100 ml-3">
            <div>入门级工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="入门级工资最高值" [(ngModel)]="byDimension.experience.entryLevel.max">  
          </div>
          <div class="w-100 ml-3">
            <div>入门级工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="入门级工资平均值" [(ngModel)]="byDimension.experience.entryLevel.avg">  
          </div>
        </div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>初级样本数量({{getExperiencePercentage('earlyCareer')}}%)</div>              
            <input type="text" nbInput fullWidth placeholder="初级样本数量" [(ngModel)]="byDimension.experience.earlyCareer.profileCount"> 
          </div>   
          <div class="w-100 ml-3">
            <div>初级工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="初级工资最低值" [(ngModel)]="byDimension.experience.earlyCareer.min">  
          </div>
          <div class="w-100 ml-3">
            <div>初级工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="初级工资最高值" [(ngModel)]="byDimension.experience.earlyCareer.max">  
          </div>
          <div class="w-100 ml-3">
            <div>初级工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="初级工资平均值" [(ngModel)]="byDimension.experience.earlyCareer.avg">  
          </div>

        </div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>中级样本数量({{getExperiencePercentage('midCareer')}}%)</div>             
            <input type="text" nbInput fullWidth placeholder="中级样本数量" [(ngModel)]="byDimension.experience.midCareer.profileCount"> 
          </div>
          <div class="w-100 ml-3">
            <div>中级工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="中级工资最低值" [(ngModel)]="byDimension.experience.midCareer.min">  
          </div>
          <div class="w-100 ml-3">
            <div>中级工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="中级工资最高值" [(ngModel)]="byDimension.experience.midCareer.max">  
          </div>
          <div class="w-100 ml-3">
            <div>中级工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="中级工资平均值" [(ngModel)]="byDimension.experience.midCareer.avg">  
          </div>

        </div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>高级样本数量({{getExperiencePercentage('lateCareer')}}%)</div>            
            <input type="text" nbInput fullWidth placeholder="高级样本数量" [(ngModel)]="byDimension.experience.lateCareer.profileCount">  
          </div>
          <div class="w-100 ml-3">
            <div>高级工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="高级工资最低值" [(ngModel)]="byDimension.experience.lateCareer.min">  
          </div>
          <div class="w-100 ml-3">
            <div>高级工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="高级工资最高值" [(ngModel)]="byDimension.experience.lateCareer.max">  
          </div>
          <div class="w-100 ml-3">
            <div>高级工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="高级工资平均值" [(ngModel)]="byDimension.experience.lateCareer.avg">  
          </div>

        </div>
        <div class="d-flex">
          <div class="w-100">
            <div>专家级样本数量({{getExperiencePercentage('experienced')}}%)</div>            
            <input type="text" nbInput fullWidth placeholder="专家级样本数量" [(ngModel)]="byDimension.experience.experienced.profileCount"> 
          </div>
          <div class="w-100 ml-3">
            <div>专家级工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="专家级工资最低值" [(ngModel)]="byDimension.experience.experienced.min">  
          </div>
          <div class="w-100 ml-3">
            <div>专家级工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="专家级工资最高值" [(ngModel)]="byDimension.experience.experienced.max">  
          </div>
          <div class="w-100 ml-3">
            <div>专家级工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="专家级工资平均值" [(ngModel)]="byDimension.experience.experienced.avg">  
          </div>
        </div>
        <div>性别细分</div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>女性样本数量({{getGenderPercentage('female')}}%)</div>    
            <input type="text" nbInput fullWidth placeholder="女性样本数量" [(ngModel)]="byDimension.gender.female.profileCount">
          </div>
          <div class="w-100 ml-3">
            <div>女性工资最低值</div>   
            <input type="text" nbInput fullWidth placeholder="女性工资最低值" [(ngModel)]="byDimension.gender.female.min">  
          </div>
          <div class="w-100 ml-3">
            <div>女性工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="女性工资最高值" [(ngModel)]="byDimension.gender.female.max">  
          </div>
          <div class="w-100 ml-3">
            <div>女性工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="女性工资平均值" [(ngModel)]="byDimension.gender.female.avg">  
          </div>
        </div>
        <div class="d-flex pb-3">
          <div class="w-100">
            <div>男性样本数量({{getGenderPercentage('male')}}%)</div>             
            <input type="text" nbInput fullWidth placeholder="男性样本数量" [(ngModel)]="byDimension.gender.male.profileCount">  
          </div>
          <div class="w-100 ml-3">
            <div>男性工资最低值</div>             
            <input type="text" nbInput fullWidth placeholder="男性工资最低值" [(ngModel)]="byDimension.gender.male.min">  
          </div>
          <div class="w-100 ml-3">
            <div>男性工资最高值</div>             
            <input type="text" nbInput fullWidth placeholder="男性工资最高值" [(ngModel)]="byDimension.gender.male.max">
          </div>
          <div class="w-100 ml-3">
            <div>男性工资平均值</div>             
            <input type="text" nbInput fullWidth placeholder="男性工资平均值" [(ngModel)]="byDimension.gender.male.avg">
          </div>
        </div>

    </nb-tab>
    <nb-tab tabTitle="评分">
      <div>评分</div>
      <div class="d-flex pb-3">
        <div class="w-100">
          <div>工作满意度</div>             
          <input type="text" nbInput fullWidth placeholder="工作满意度" [(ngModel)]="ratings.jobSatisfaction.score">
        </div>
      </div>
    
    </nb-tab>
</nb-tabset>
<div class="text-right">
    <button nbButton status="primary" (click)="save()">{{ !id ? '新增' : '修改'}}</button>
</div>


